@* @using DataAccess.Models *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BakeryShop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/PRN222_Final_Project.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow">
            <div class="container-fluid">
                <!-- Logo -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="footer-logo text-center">
                        <img src="/img/logo/logo.png" alt="BakeryShop Logo" height="60">
                    </div>
                </a>
                <!-- Toggle Button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Navbar Links and Search Bar -->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="width: 100%;">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <!--kiểm tra ViewContext để so sánh với controller và action hiện tại. Dựa trên kết quả, bạn thêm lớp active cho liên kết-->
                            <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Index" && ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "active" : "")"
                               asp-controller="Home" asp-action="Index">HOME</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown-container" style="display: flex; align-items: center;">
                                <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Index" && ViewContext.RouteData.Values["controller"].ToString() == "Product" ? "active" : "")"
                                   asp-controller="Product" asp-action="Index" asp-route-categoryId="0">PRODUCT</a>
                                <svg class="dropdown-trigger" style="margin: 7px -12px;cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 10 4 4 4-4" />
                                </svg>
                            </div>
                            <ul class="dropdown-list">
                                @if (ViewBag.Categories != null)
                                {
                                    @* @foreach (Category cate in ViewBag.Categories)
                                    {
                                        <li><a asp-action="Index" asp-controller="Product" asp-route-categoryId="@cate.CategoryId" style="color:black; text-decoration:none">@cate.CategoryName</a></li>
                                    } *@
                                }
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Contact" && ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "active" : "")"
                               asp-controller="Contact" asp-action="Index">CONTACT</a>
                        </li>

                        <!-- Search Bar -->
                        <form class="d-flex search-bar" style="width: 100%;" asp-action="Search" asp-controller="Product">
                            <input class="form-control me-md-2" type="search" name="searchKey" placeholder="Search" aria-label="Search">
                        </form>
                    </ul>

                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <!-- Icons -->
                    <div class="d-flex">
                        <!-- Cart Icon -->
                        <a href="/Cart" class="text-dark me-3" aria-label="Cart">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M14 7h-4v3a1 1 0 0 1-2 0V7H6a1 1 0 0 0-.997.923l-.917 11.924A2 2 0 0 0 6.08 22h11.84a2 2 0 0 0 1.994-2.153l-.917-11.924A1 1 0 0 0 18 7h-2v3a1 1 0 1 1-2 0V7Zm-2-3a2 2 0 0 0-2 2v1H8V6a4 4 0 0 1 8 0v1h-2V6a2 2 0 0 0-2-2Z" clip-rule="evenodd" />
                            </svg>
                        </a>

                        <div class="dropdown-user">
                            @if (Context.Session.GetInt32("UserToken") != null)
                            {
                                <!-- Nếu đã đăng nhập, hiển thị SVG user -->
                                <a asp-action="Profile" asp-controller="Common" class="text-dark me-3" aria-label="User">
                                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M12 20a7.966 7.966 0 0 1-5.002-1.756l.002.001v-.683c0-1.794 1.492-3.25 3.333-3.25h3.334c1.84 0 3.333 1.456 3.333 3.25v.683A7.966 7.966 0 0 1 12 20ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10c0 5.5-4.44 9.963-9.932 10h-.138C6.438 21.962 2 17.5 2 12Zm10-5c-1.84 0-3.333 1.455-3.333 3.25S10.159 13.5 12 13.5c1.84 0 3.333-1.455 3.333-3.25S13.841 7 12 7Z" clip-rule="evenodd" />
                                    </svg>
                                </a>
                                <ul class="dropdown-list-user">
                                    <li><a asp-action="Profile" asp-controller="Common" style="color:black; text-decoration:none">Profile</a></li>
                                    <li><a asp-controller="Orders" asp-action="History" style="color:black; text-decoration:none">History</a></li>
                                    <li><a asp-action="Logout" asp-controller="Common" style="color:black; text-decoration:none">Logout</a></li>
                                </ul>
                            }
                            else
                            {
                                <!-- Nếu chưa đăng nhập, hiển thị chữ "Login" và link đến trang đăng nhập -->
                                <a asp-action="Login" asp-controller="Common" style="text-decoration:none; color:burlywood">Login</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="custom-footer text-white" style="display:flex;">

        <div class="footer-content-flex flex-grow-1">
            <!-- Row 1: Contact Information -->
            <div class="footer-row" style="color:#453421;">
                <h5>Contact Us</h5>
                <p>Email: cakywordvietnam@gmail.com</p>
                <p>Phone: 093 974 0742 (08h00 – 17h00)</p>
                <p>Or: 091 575 1200 (07h00 – 22h00)</p>
            </div>
        </div>
        <div class="footer-content-flex flex-grow-1">
            <!-- Row 2: Address -->
            <div class="footer-row">
                <h5>Visit Us</h5>
                <p>600, đường Nguyễn Văn Cừ (nối dài)</p>
                <p>phường An Bình, quận Ninh Kiều, TP. Cần Thơ</p>
            </div>
        </div>
        <div class="footer-content-flex flex-grow-1">
            <!-- Row 3: Social Media -->
            <div class="footer-row">
                <h5>Follow Us</h5>
                <p>
                    <a href="#" class="text-white">Facebook</a>
                </p>
            </div>
        </div>
        <div class="footer-content-flex flex-grow-1">
            <!-- Logo -->
            <div class="footer-logo text-center">
                <img src="/img/logo/logo.png" alt="BakeryShop Logo" height="60">
            </div>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
